/***
    base.html
***/
body{
    background-color: #fcfcfc;
    font-family:"Courier";
}

h1{
    font-size:50px;
}

#wrapper{
    width:65%;
    margin:auto;
}

#titles{
    display:block;
    color: #444;
    text-align:center;
}

#content{
    border:solid #bcbcbc;
    min-height:300px;
    padding-bottom:20px;
}

#footer{
    text-align:right;
    margin-top:30px;
    color:graytext;
}

/***
    lista/mostrar.html
***/

#form_tarea{
    margin:auto;
    width:75%;
    padding-top:15px;
    padding-bottom:15px;
}

#id_descripcion{
    width:100%;
    height:25px;
}

#id_agregar{
    display:block;
    float:right;
    width:80px;
    height:30px;
}

#lista_tareas{
    list-style-type:none;
    width:650px;
    margin:auto;
    padding-top:30px;
    font-size:20px;
}

#lista_tareas li{
    padding:10px;
    border:solid #bcbcbc;
    margin-top:10px;
    font-weight:bold;
}

.tachado{
    color:gray;
    text-decoration:line-through;
}