<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <title>¡Chaspipi! :D</title>

    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#id_descripcion').keydown(function(event) {
                if (event.keyCode == '13') {
                    event.preventDefault();

                    $.ajax({
                                type: "POST",
                                url: $("#form_tarea").attr('action'),
                                data: $("#form_tarea").serialize(),
                                dataType: "json",

                                success: function(data) {
                                    $('#lista_tareas').prepend('<li>'
                                            + '<input type="checkbox" name="hecha" value="' + data.id + '"> <span>'
                                            + $('#id_descripcion').val()
                                            + ' </span></li>');
                                    $('#id_descripcion').val("");
                                }
                            });
                }
            });

            $('.hecha-check').change(function() {
                $.ajax({
                            type: "POST",
                            url: '/tarea/'+$(this).val()+'/hecha/',
                        });


                if ($(this).is(':checked')) {
                    $(this).next('span').addClass("tachado");
                } else {
                    $(this).next('span').removeClass("tachado");
                }
            });
        });
    </script>

</head>
<body>
<div id="wrapper">
    <div id="titles">
        <h1>¡Chaspipi!</h1>

        <h2>Mis cosas por hacer...</h2>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        Presentación por Fernando Irías y Luis Felipe Borjas
    </div>
</div>
</body>
</html>